[submodule "KalkulatorSederhana"]
	path = KalkulatorSederhana
	url = https://github.com/YusufAnfasya/KalkulatorSederhana
[submodule "LuasAreaFinal"]
	path = LuasAreaFinal
	url = https://github.com/YusufAnfasya/LuasAreaFinal
[submodule "Aplikasi_Penjualan_Final"]
	path = Aplikasi_Penjualan_Final
	url = https://github.com/YusufAnfasya/Aplikasi_Penjualan_Final
[submodule "SimpleGoogleMaps"]
	path = SimpleGoogleMaps
	url = https://github.com/YusufAnfasya/SimpleGoogleMaps
[submodule "Aplikasi_Mahasiswa_Final"]
	path = Aplikasi_Mahasiswa_Final
	url = https://github.com/YusufAnfasya/Aplikasi_Mahasiswa_Final
